
body {
    font-family: Arial, sans-serif;
}

.text-light {
    font-size: 45px!important;
    margin-left: 1em;
}
.navbar {
    background-color: #011e3b;
    color: white;
    padding: 20px 0;
}

.search-section {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}

.results-section {
    margin-top: 20px;
}

.form-label {
    font-weight: bold;
}

.form-select {
    width: 100%;
}

.input-group {
    width: 100%;
}

.btn-primary {
    width: 100%;
}

.download-pdf {
    background-color: #011e3b;
    color: #fff;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
    display: inline-block;
    width: 100px;
    text-align: center;
}

.download-pdf i {
    margin-right: 5px;
}

.download-pdf:hover {
    background-color: #2980b9;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    background: #fff;
}

th,
td {
    border: 1px solid #e3e3e3;
    padding: 8px 16px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

tr {
    background: #f2f2f2;
}

tr:nth-child(even) {
    background: #e0e0e0;
}

td a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    transition: color 0.3s;
}

td a:hover {
    color: #2980b9;
}


@media screen and (max-width: 768px) {
    table {
        border: 1px solid #e3e3e3;
    }

    table thead {
        display: none;
    }

    table tr {
        margin-bottom: 10px;
        display: block;
    }

    table td {
        display: block;
        text-align: right;
    }

    table td:last-child {
        text-align: right;
    }

    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Style for the filter button */
#filterButton {
    background-color: #011e3b;
        color: #fff;
        padding: 4px 8px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.3s;
        display: inline-block;
        width: 100px;
        text-align: center;
    }
    /* Adjust the margin as needed */

#filterButton:hover {
    background-color: #2980b9;
}

.dropdown {
    margin: auto;

    margin-left: auto;

    margin-left: 62em;

}

/* Add styles for the total page count placeholder */
#totalPageCountPlaceholder {
    margin-top: 20px;
    /* margin-left: 47em; */
    font-weight: bold;
    font-size: 18px;
    color: #333;
    /* You can choose your desired color */
}

#totalPageCount {
    color: #3498db;
    /* You can choose your desired color for the count */
}
/* Add styles for the total entry count placeholder */
#totalEntryCountPlaceholder {
margin-top: 20px;
    /* margin-left: 47em; */
    font-weight: bold;
    font-size: 18px;
    color: #333;
    /* You can choose your desired color */
}

#totalEntryCount {
    color: #3498db;
    /* You can choose your desired color for the count */
}
